//
// MeAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class MeAPI {

    /**
     Current authenticated user
     
     - returns: CurrentUser
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func getMe() async throws -> CurrentUser {
        return try await getMeWithRequestBuilder().execute().body
    }

    /**
     Current authenticated user
     - GET /api/v1/me
     - Returns the local application user for the authenticated Descope subject. On first successful authentication the backend provisions a local user with an incomplete profile. 
     - Bearer Token:
       - type: http
       - name: bearerAuth
     - responseHeaders: [X-Request-ID(UUID)]
     - returns: RequestBuilder<CurrentUser> 
     */
    open class func getMeWithRequestBuilder() -> RequestBuilder<CurrentUser> {
        let localVariablePath = "/api/v1/me"
        let localVariableURLString = DailySketchAPIAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [
            :
        ]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<CurrentUser>.Type = DailySketchAPIAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: true)
    }
}
